<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectFLS.Properties.Settings.flsdbConnectionString"
            connectionString="Data Source=&quot;89.179.146.97, 1433&quot;;Initial Catalog=flsdb;Persist Security Info=True;User ID=superadmin;Password=superadmin;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>